html, body {
    margin: 0;
    background-color: rgb(30, 31, 46);
    color: gainsboro;
}

.container {
    border-radius: 7px;
    background-color: rgb(40, 42, 61);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.playlists {
    margin: 20px;
    margin-bottom: 0px;
}

.tracks {
    margin: 20px;
    margin-right: 10px;
}
.playlistGraphs {
    margin: 20px;
    margin-left: 10px;
}

.spotify {
    background-color: white;
}